/* Resetar os espaçamentos*/
body,div, h3,h4,h5,h6, p, a{
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
}
/* Tags de Texto*/
p{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.543846);
  display: flex;
  justify-content: space-between;
}
h3{
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  font-weight: bolder;
}
h4{
  margin: 4px;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}
h5{
  font-family: Roboto;
  text-align: justify;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #231D4A;
}
h6 {
  font-size: 40px;
  line-height: 29px;
  color: #231D4A;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: bolder;
}
/* Card inicial da intro*/
.span_profile{
  font-style:  italic;
}
.bg_intro{
  background-color: #EEEEEE;
}
.nav_menu{
  background-color: #231D4A;
}
.box_cards{
  width: 345px;
  height: 150px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.box_photo{
  margin: 0 auto;
  padding: 0 auto;
  float: left;
  width: 90px;
  height: 150px;
  background-color: #FF6E40;
  position: relative;
  align-items: center;
  display: block
}
.img_box{
  top:20%;
  left:15%;
  position: absolute;
}
.box_desc{
  margin: 5px 4px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block
}
.line_bottom::before{
  content: "";
  display: block;
  max-width: 100%;
  background: #DBDBDB;
  border: 1px solid #DBDBDB;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Segundo card da intro*/
.btn_more {
  width: 250px;
  background-color: #231D4A;
  color: #ffffff;
  border-radius: 2%;
  margin-left: 30px;
}
.box_horario{
  margin: 0 auto;
  padding: 30px auto;
  float: left;
  position: relative;
  display: block;
  margin-bottom: 0px;
}
.box_horas{
  float: right;
  margin-left: 250px;
  position: absolute;
  display: block;
  margin-top: 12px;
  margin-bottom: 0px;
}
/* Terceiro card da intro*/
.box_ferias{
  background-color: #231D4A;
  width: 345px;
  height: 150px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}
.btn_rh {
  width: 250px;
  background-color: #FF6E40;
  color: #ffffff;
  border-radius: 2%;
  margin-left: 30px;
}
.text_ferias{
  color: #ffffff;
  font-weight: bolder;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}


.index-banner{
  display: flex;
  width: 100%;
  background: #231D4A;
  max-width: 100%;
  max-height: auto;
  
} 
.index-banner img {
  padding: 80px;
  width: 65%;
  height: auto;
}

.index-banner p {

  position: absolute;
  width: 85px;
  height: 19px;
  left: 170px;
  top: 360px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  /* identical to box height */
  
  letter-spacing: 0.4em;
  
  color: #FFFFFF;
}

.login-banner  {
  display: flex-start;
  width: 100%;
  background: white;
  max-width: 100%;
  max-height: auto;
  margin-top: 40px;

}

.login-banner img {
  align-items: top;
  width: 65%;
  height: auto;
}

.login-banner p {

  position: flex-start;
  width: 85px;
  height: 19px;
  left: 170px;
  top: 360px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  /* identical to box height */
  
  letter-spacing: 0.4em;
  
  color:#231D4A;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}


.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
  transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
  width: 100%;
  float: left;
}

.input,
.button {
  margin-top: 30px;
  height: 70px;
}

.input,
.input input,
.button,
.button button {
  position: relative;
}

.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
}

.input input,
.input label,
.button button {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.input:before,
.input .spin {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.input .spin {
  background: #ED2553;
  z-index: 4;
  width: 0;
}

.overbox .input .spin {
  background: rgba(255, 255, 255, 1);
}

.overbox .input:before {
  background: rgba(255, 255, 255, 0.5);
}

.input label {
  position: absolute;
  font-size: 15px;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.button.login {
  width: 60%;
  align-items: center;
  left: 5%;
}

.button.login button,
.button button {
  width: 100%;
  line-height: 64px;
  left: 0%;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}

.button.login {
  width: 86%;
  height: auto;
  font-size: 12px;
  margin-top: 20px;
}

.button {
  margin-top: 20px;
}

.button button {
  background-color: #fff;
  color: #ED2553;
  border: none;
}

.button.login button.active {
  border: 3px solid transparent;
  color: #fff !important;
}

.button.login button.active span {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
}



.button.login button:hover {
  color: #ED2553;
  border-color: #ED2553;
}

.button {
  margin: 40px 0;
  overflow: hidden;
  z-index: 2;
}

.button button {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #ED2553;
  border-radius: 50%;
}

.overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px 50px;
}

.overbox .title,
.overbox .button,
.overbox .input {
  z-index: 111;
  position: relative;
  color: #fff !important;
  display: none;
}

.overbox .title {
  width: 80%;
}

.overbox .input {
  margin-top: 20px;
}

.overbox .input input,
.overbox .input label {
  color: #fff;
}

.overbox .material-button,
.overbox .material-button .shape,
.overbox .alt-2,
.overbox .alt-2 .shape {
  display: block;
}

body,
html {
  overflow: hidden;
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

