/* Resetar os espaçamentos*/
body,div, h3,h4,h5,h6, p, a{
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
}
/* Tags de Texto*/
.text_logo{
  color: #231D4A;
  text-transform: uppercase;
  letter-spacing:.1em;
  margin-left: 130px;
}
a{
  text-decoration: none;
}
label{
  font-size: 16px;
  line-height: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}
p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  z-index: 9;
  margin-bottom: 2px;
  font-weight: bold;
  justify-content: space-between;
}
h3{
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  font-weight: bolder;
}
h4{
  margin: 4px;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}
h5{
  font-family: Roboto;
  text-align: justify;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #231D4A;
  text-decoration: none;
}
h6 {
  font-size: 40px;
  line-height: 29px;
  color: #231D4A;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: bolder;
}
/*  TELAAAAA INICIAL   */

.index-banner{
  display: flex;
  width: 100%;
  background: #231D4A;
  max-width: 100%;
  max-height: auto;

} 
.index-banner img {
  padding: 80px;
  width: 65%;
  height: auto;
}

.index-banner p {

  position: absolute;
  width: 85px;
  height: 19px;
  left: 170px;
  top: 360px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.4em;

  color: #FFFFFF;
}






/* Card inicial da intro*/
.span_profile{
  font-style:  italic;
}
.bg_intro{
  background-color: #EEEEEE;
}
.nav_menu{
  background-color: #231D4A;
}
.box_cards{
  width: 345px;
  height: 150px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.box_cards  a {
  margin-left: 0px;
}
.box_photo{
  margin: 0 auto;
  padding: 0 auto;
  float: left;
  width: 80px;
  height: 150px;
  background-color: #FF6E40;
  position: relative;
  align-items: center;
  display: block
}
.img_box{
  top:0%;
  left:-3px;
  height: 150px;
  position: absolute;
}
.box_desc{
  margin: 5px 8px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block;
}
.box_desc > p{
  color: #ffffff;
}
.line_bottom::before{
  content: "";
  display: block;
  max-width: 100%;
  background: #DBDBDB;
  border: 1px solid #DBDBDB;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Segundo card da intro*/
.btn_more {
  width: 250px;
  background-color: #231D4A;
  color: #ffffff;
  border-radius: 2%;
  margin-left: 30px;
}
.box_horario{
  margin: 0 auto;
  padding: 30px auto;
  float: left;
  position: relative;
  display: block;
  margin-bottom: 0px;
}
.box_horas{
  float: right;
  margin-left: 250px;
  position: absolute;
  display: block;
  margin-top: 12px;
  margin-bottom: 0px;
}
/* Terceiro card da intro*/
.box_ferias{
  background-color: #231D4A;
  width: 345px;
  height: 150px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}
.btn_rh {
  width: 250px;
  background-color: #FF6E40;
  color: #ffffff;
  border-radius: 2%;
  margin-left: 30px;
  font-weight: bolder;
}
.text_ferias{
  color: #ffffff;
  font-weight: bolder;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}
/* --------------------- TELA DE LOGIN----------------------------*/
.line_header{
  width: 670px;
  height: 130px;
  margin-top: -60px;
  margin-left: -390px;
  float: left;
  background-color: #FF6E40;
  transform: rotate(168deg);
}
.box_logo{
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 50px
}
.box_login{
  margin-bottom: 80px;
  margin-left: 30px;
}
.btn_login{
  width: 250px;
  height: 50px;
  background-color: #231D4A;
  color: #ffffff;
  border-color: #231D4A;
  border-radius: 2%;
  margin-left: 30px;
  text-transform: uppercase;
  margin-top: 60px;
}
.text_senha{
  text-decoration: underline;
  font-style: normal;
  font-size: 14px;
  color: #231D4A;
  float: right;
  margin-right: 60px;
  margin-top: -190px;
}
/* --------------------- TELA PROFILER----------------------------*/
.box_cardPro{
  width: 330px;
  height: 220px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.box_dadoPro{
  margin: 5px 8px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block;
}
.tab_dados{
  width: 10px;
  margin-right: 100px;
  padding: 2px;
  border-radius: 2px;
}
.tab_dados > th{
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
  font-weight: bolder;
}
.tab_dados td{
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
  padding: 5px;
}
.tabl_dados2 td{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.541327);
  padding: 1px;
}
.tabl_dados2 > i{
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.541327);
}
.line_prof::before{
  content: "";
  display: block;
  max-width: 100%;
  background: #DBDBDB;
  border: 1px solid #DBDBDB;
  margin-top: -10px;
  margin-bottom: 10px;
}
.box_cardPro2{
  width: 345px;
  height: 280px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.box_dados2{
  margin: 5px 8px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block;
}
/* --------------------- TELA ESPELHO----------------------------*/
.tabs_menu{
  max-width: 100%;
  background-color: #231D4A;
  padding: 10px;
}
.box_cardFerias{
  width: 345px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.tab_dadosFerias{
  margin: 5px 8px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block;
}
.tab_dadosFerias  th{
  font-size: 10px;
  line-height:14px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.541327);
  padding: 2px;
}
.tab_dadosFerias td{
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #737373;
  margin-left: 30px;
}
.btn_dtlh{
  margin-top: 5px;
  width: 90px;
  height: 40px;
  background-color: #FF6E40;
  border-color:  #FF6E40;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3%;
  font-weight: bolder;
}




/* --------------------- TELA FERIAS----------------------------*/
.tabs_menu1{
  max-width: 100%;
  background-color: #231D4A;
  padding: 10px;
}
.box_cardFerias1{
  width: 350px;
  height: 150px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.tab_dadosFerias{
  margin: 5px 8px;
  padding: 0 auto;
  float: left;
  position: relative;
  display: block;
}
.tab_Ferias  th{
  font-size: 14px;
  line-height:14px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.541327);
  padding: 2px;
}
.tab_Ferias td{
  padding: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #737373;
  margin-left: 30px;
}
.btn_mf{
  width: 320px;
  height: 40px;
  background-color: #FF6E40;
  border-color:  #FF6E40;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3%;
  font-weight: bolder;
}


.tab_Ferias1  th{
  font-size: 14px;
  line-height:14px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.541327);
  padding: 2px;
}
.tab_Ferias1 td{
  padding-bottom: 5%;
  font-size: 20px;
  align-items: center;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #737373;
  margin-left: 30px;
}
.material-icons {
  color: #FF6E40;
}

/*  TELA DE CONFIGURAÇÃO */ 
.btn_alterar { 
  width: 250px;
  height: 40px;
  background-color: #FF6E40;
  border-color:  #FF6E40;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3%;
  font-weight: bolder;

}